.card-1 {
  box-sizing: content-box;
  width: 300px;
  height: 150px;
  padding: 20px 15px; /* Top/Bottom = 20px, Left/Right = 15px */
  border: 5px solid black;
  margin: 10px 25px; /* Top/Bottom = 10px, Left/Right = 25px */
}
